* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
}

main .input-Task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .input-Task input {
  width: 15rem;
  height: 2rem;
  border: 2px solid rgb(101, 117, 168);
  border-radius: 5px;
  padding: 0 10px;
  font-size: 2rem;
}

main .input-Task input:focus {
  outline: none;
}

main .input-Task .add-Tasks {
  font-size: 2rem;
  margin: 0 20px;
  cursor: pointer;
}

main .input-Task select {
  width: 10rem;
  height: 2rem;
  font-size: 1.2rem;
  background-color: rgb(142, 32, 197);
  color: #fff;
}

main .tasks {
  width: 37rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px 0;
}

main .tasks .task {
  width: 90%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #c0a3da;
  border-radius: 5px;
  margin: 10px 0;
}

main .tasks .task .title {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(78, 77, 77);
  padding: 0 20px;
}

main .tasks .task .edit {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
}

main .tasks .task .edit .delete {
  color: rgb(224, 77, 77);
  cursor: pointer;
}

main .tasks .task .edit .edit-Icon {
  color: rgb(77, 92, 224);
  margin: 0 20px;
  cursor: pointer;
}

main .tasks .task .edit .complete-Task {
  color: rgb(77, 224, 109);
  cursor: pointer;
}

main .tasks .Completed {
  width: 90%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: #22c55e;
}

main .tasks .task .newTitle {
  width: 50%;
  height: 80%;
  border: 2px solid #5581e7;
  font-size: 1.5rem;
  outline: none;
}

@media (max-width: 561px) {
  main .input-Task input {
    width: 10rem;
  }

  main .input-Task .add-Tasks {
    font-size: 1.5rem;
  }

  main .input-Task select {
    width: 6rem;
  }

  main .tasks {
    width: 27rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px 0;
  }
}

.hidden {
  display: none;
}
